@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=PT+Serif&family=Roboto+Mono:ital,wght@1,300&display=swap');

*{
box-sizing: border-box;
}

body{
background-color: #fee440;
background-image: linear-gradient(315deg, #ecf39e 0%, #fdffb6 100%);
font-family: 'PT Serif', serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
height: 100vh;
margin: 0;
}

.quiz-container{
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px 2px rgba(100,100,100, 0.1);
width: 600px;
overflow: hidden;
}

.quiz-header{
padding: 4rem;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

h2{
padding: 1rem;
text-align: center;
margin: 0;
}

ul{
list-style-type:none ;
padding: 0;
}

ul li{
font-size: 1.2rem;
margin: 1rem 0;
}

ul li label{
cursor: pointer;
}

button{
background-color:#06d6a0;
font-size: 1.1rem;
color: white;
border: none;
display: block;
width: 100%;
cursor: pointer;
font-family: inherit;
height: 70px;
padding: 1.3rem;
}

button:hover{
background-color: #4cf8ca;
}

button:focus{
outline: none;
background-color: #0cff45;
}

.message {
  font-size: 24px;
  text-align: center;
}

.answer{
width: 200px;
}

.answerkey{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.answerkey ul li{
font-size: 15px;
}